<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!----------- This in its own file----------->
    <style>
        .solid {
            border-style: solid;
        }
    </style>
    <title>Join Page</title>
</head>

<body>
    <h1>Join Game</h1><!--Have Center-->
    <hr>
    <br>

    <div id='avblLobby'>

    </div>

    <input type="button" id="refreshClicked" value="Refresh">
    <br>
    <input type="button" value="Go Back" onclick="window.location.href='/'">

    <script src="js/JoinPage.js"></script>
</body>

</html>